# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
analysis.R
other.R
test.R
md_logo.png
.Rproj.user
/renv
renv.lock
_quarto/
vignettes/.quarto/_freeze/

altdoc/freeze.rds
_quarto/*
!_quarto/_freeze/
